.pager {
  display: flex;
  //   grid-template-columns: auto auto;
  justify-content: flex-start;
  margin-top: 60px;

  a:hover {
    @apply lg:text-white lg:transition-all lg:duration-500;
  }

  .pager_prev {
    display: flex;
    align-items: center;
    @apply font-en text-gray text-[13px];

    &::before {
      content: "";
      display: block;
      width: 13px;
      height: 13px;
      background-image: url("/images/common/prev_icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 4px;
    }
  }
  .pager_next {
    display: flex;
    align-items: center;
    @apply font-en text-gray text-[13px] ml-auto;

    &::after {
      content: "";
      display: block;
      width: 13px;
      height: 13px;
      background-image: url("/images/common/next_icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 4px;
    }
  }
}
