.menu_nav {
  @apply bg-black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translate(100%);

  &.open {
    transform: translate(0);
  }
}
.header__nav {
  a {
    @apply transition-all;
  }
  a:hover {
    @apply text-white/[0.7] transition-all duration-500;
  }
}
