.content {
  @apply border-t-[1px] border-black-light mt-[24px] pt-[40px];

  h1 {
    @apply text-white font-[500] text-[18px] mt-[60px] lg:text-[20px] lg:mt-[80px];
    display: flex;
    align-items: baseline;

    &::before {
      content: "";
      display: block;
      position: relative;
      z-index: -1;
      top: 2px;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      background-image: url("/images/common/h1_icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 8px;
    }
  }
  h2 {
    @apply text-white font-[500] text-[16px] mt-[28px] lg:text-[18px];
    display: flex;
    align-items: baseline;

    &::before {
      content: "";
      display: block;
      position: relative;
      z-index: -1;
      top: 3px;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      background-image: url("/images/common/h2_icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 8px;
    }
  }
  h3 {
    @apply text-white font-[500] text-[16px] mt-[28px];
    display: flex;
    align-items: baseline;

    &::before {
      content: "";
      display: block;
      position: relative;
      z-index: -1;
      top: 3px;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      background-image: url("/images/common/h3_icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 8px;
    }
  }
  p {
    @apply text-gray text-[14px] mt-[16px] lg:text-[16px];
  }
  strong {
    @apply text-white bg-black-light;
  }
  img {
    z-index: -1;
    border-radius: 10px;
  }
  blockquote {
    @apply text-gray text-[13px] bg-black-dark rounded-[5px] px-[16px] py-[16px] my-[40px] lg:text-[15px]  lg:px-[24px] lg:py-[24px] lg:my-[60px];
  }
}
